<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>The BookSTEM - Home</title>

    <!-- Latest compiled and minified CSS -->
 
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
     <!-- Latest compiled and minified JavaScript -->
 
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

</head>

<body>


  <!-- Navigation -->
      <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">{{>navbar}}</nav>

  <!-- Page Content -->
  <div class="container">

    <!-- Jumbotron Header -->
    <header class="jumbotron my-4">
      <h1 class="display-3">Browse</h1>
      <p class="lead">Scroll to view the BookSTEM Database.</p>

      <!-- Page Features -->
      <div class="row text-center"></div>

    </header>

  <!-- /.container -->

<!-- /.container -->
  <h2 class="display-5">Textbooks</h1>
  <table class="table table-hover table-bordered">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Name</th>
        <th scope="col">Author</th>
        <th scope="col">Language</th>
        <th scope="col">ISBN</th>
        <th scope="col">Genre</th>
        <th scope="col">In Stock</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th scope="row">1</th>
        <td>Project Management</td>
        <td>Jeffrey Pinto</td>
        <td>English</td>
        <td>0133798070</td>
        <td>Management</td>
        <td>True</td>
      </tr>
      <tr>
        <th scope="row">2</th>
        <td>Principles of Biochemistry</td>
        <td>David Nelson</td>
        <td>English</td>
        <td>1464126119</td>
        <td>Biochemistry</td>
        <td>True</td>
      </tr>
      <tr>
        <th scope="row">3</th>
        <td>Psychology in Action</td>
        <td>Karen Huffman</td>
        <td>English</td>
        <td>9781119394839</td>
        <td>Psychology</td>
        <td>True</td>
      </tr>
    </tbody>

  </table>
    <div><button class="btn btn-primary">Add Entry</button></div>
    <p><br /><br /></p>


  <h2 class="display-5">Publishers</h1>
    <table class="table table-hover table-bordered">
      <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">Company Name</th>
          <th scope="col">Phone</th>
          <th scope="col">Address</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <th scope="row">1</th>
          <td>Wiley Book Services</td>
          <td>1-800-225-5945</td>
          <td>
            10475 Crosspoint Blvd<br>Indianapolis, IN 46256
          </td>
        </tr>
        <tr>
          <th scope="row">2</th>
          <td>Pearson</td>
          <td>1-800-534-3234</td>
          <td>
            330 Hudson St <br>New York City, NY 10013
          </td>
        </tr>
        <tr>
          <th scope="row">3</th>
          <td>W. H. Freeman and Company</td>
          <td>800-903-3019</td>
          <td>
            41 Madison Avenue 37th floor<br>New York, NY 10010
          </td>
        </tr>
      </tbody>
    </table>

    <h2 class="display-5">Authors</h1>
      <table class="table table-hover table-bordered">
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">First Name</th>
            <th scope="col">Last Name</th>
            <th scope="col">Education</th>
            <th scope="col">Website</th>
            <th scope="col">Biography</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <th scope="row">1</th>
            <td>Jeffrey</td>
            <td>Pinto</td>
            <td>University of Pittsburgh</td>
            <td><a class="nav-link" href="https://behrend.psu.edu/person/jeffrey-k-pinto-phd">behrend.psu.edu/person/jeffrey-k-pinto-phd</a></td>
            <td>Research interests include project management, information system implementation, power and political processes in organizations, and the diffusion of innovations.</td>
          </tr>
          <tr>
            <th scope="row">2</th>
            <td>David</td>
            <td>Nelson</td>
            <td>University of Virginia</td>
            <td><a class="nav-link" href="https://en.wikipedia.org/wiki/David_L._Nelson">en.wikipedia.org/wiki/David_L._Nelson</a></td>
            <td>David L. Nelson is an American human geneticist, currently an associate director at the Intellectual and Developmental Disabilities Research Center, and professor at the Department of Molecular and Human Genetics at Baylor College of Medicine BCM since 1999.</td>
          </tr>
          <tr>
            <th scope="row">3</th>
            <td>Karen</td>
            <td>Huffman</td>
            <td>University of Florida</td>
            <td><a class="nav-link" href="https://www.biblio.com/karen-huffman/author/36489">biblio.com/karen-huffman/author/36489</a></td>
            <td>Professor Huffman is also the author and co-author of several textbooks, including Psychology in Action.</td>
          </tr>
        </tbody>
      </table>

      <h2 class="display-5">Textbooks</h1>
        <table class="table table-hover table-bordered">
          <thead>
            <tr>
              <th scope="col">#</th>
              <th scope="col">Name</th>
              <th scope="col">Author</th>
              <th scope="col">Language</th>
              <th scope="col">ISBN</th>
              <th scope="col">Genre</th>
              <th scope="col">In Stock</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <th scope="row">1</th>
              <td>Project Management</td>
              <td>Jeffrey Pinto</td>
              <td>English</td>
              <td>0133798070</td>
              <td>Management</td>
              <td>True</td>
            </tr>
            <tr>
              <th scope="row">2</th>
              <td>Principles of Biochemistry</td>
              <td>David Nelson</td>
              <td>English</td>
              <td>1464126119</td>
              <td>Biochemistry</td>
              <td>True</td>
            </tr>
            <tr>
              <th scope="row">3</th>
              <td>Psychology in Action</td>
              <td>Karen Huffman</td>
              <td>English</td>
              <td>9781119394839</td>
              <td>Psychology</td>
              <td>True</td>
            </tr>
          </tbody>
        </table>

  <h2 class="display-5">Customers</h1>
  <table class="table table-hover table-bordered">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">First Name</th>
        <th scope="col">Last Name</th>
        <th scope="col">Email</th>
        <th scope="col">Phone</th>
        <th scope="col">Shipping Address</th>
        <th scope="col">Billing Address</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th scope="row">1</th>
        <td>Mark</td>
        <td>Lupin</td>
        <td>marklupin@gmail.com</td>
        <td>234-657-4349</td>
        <td>1123 SW Yoga St<br>Portland, OR 2832</td>
        <td>1123 SW Yoga St<br>Portland, OR 2832</td>
      </tr>
      <tr>
        <th scope="row">2</th>
        <td>Lola</td>
        <td>Martin</td>
        <td>lolamartin@gmail.com</td>
        <td>984-123-9382</td>
        <td>2338 NE Huff St<br>Houston, TX 93232</td>
        <td>1281 N Pine Blvd<br>Houston, TX 93232</td>
      </tr>
      <tr>
        <th scope="row">3</th>
        <td>Tom</td>
        <td>Jerry</td>
        <td>tomjerry@gmail.com</td>
        <td>539-493-3439</td>
        <td>9232 N Thoms Dr<br>Sacramento, CA 38322</td>
        <td>9232 N Thoms Dr<br>Sacramento, CA 38322</td>
      </tr>
    </tbody>
  </table>

  <h2 class="display-5">Orders</h1>
    <table class="table table-hover table-bordered">
      <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">Creation Date</th>
          <th scope="col">Expected Arrival Date</th>
          <th scope="col">Purchased Items</th>
          <th scope="col">Status</th>
          <th scope="col">Payment Method</th>
          <th scope="col">Total Items</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <th scope="row">1</th>
          <td>2019-06-15</td>
          <td>2019-06-30</td>
          <td>Project Management</td>
          <td>Delivered</td>
          <td>Visa</td>
          <td>1</td>
        </tr>
        <tr>
          <th scope="row">2</th>
          <td>2020-12-20</td>
          <td>2020-01-05</td>
          <td>Principles of Biochemistry</td>
          <td>Delivered</td>
          <td>Visa</td>
          <td>1</td>
        </tr>
        <tr>
          <th scope="row">3</th>
          <td>2020-02-01</td>
          <td>2020-02-28</td>
          <td>Psychology in Action</td>
          <td>In process</td>
          <td>Visa</td>
          <td>1</td>
        </tr>
      </tbody>
    </table>

  <!-- Footer -->
  <footer class="py-5 bg-dark">
    <div class="container">
      <p class="m-0 text-center text-white">The BookSTEM 2021</p>
    </div>
    <!-- /.container -->
  </footer>

  <!-- Bootstrap core JavaScript -->
  <script src="vendor/jquery/jquery.min.js"></script>
  <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

</body>

</html>
