<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>The BookSTEM - Home</title>

    <!-- Latest compiled and minified CSS -->
 
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
     <!-- Latest compiled and minified JavaScript -->
 
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

</head>

<body>

  <!-- Navigation -->
      <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">{{>navbar}}</nav>

  <!-- Page Content -->
  <div class="container">

    <!-- Jumbotron Header -->
    <header class="jumbotron my-4">
      <h1 class="display-3">Welcome to The BookSTEM!</h1>
      <p class="lead">Click on the buttons below, or in the top navigation bar to be taken to the various parts of our website.</p>
    </header>

    <!-- Page Features -->
    <div class="row text-center">

      

      <div class="col-lg-3 col-md-6 mb-4">
        <div class="card h-100">
          <div class="card-body">
            <h4 class="card-title">Authors</h4>
            <p class="card-text">View, add, remove and update authors from the website's database.</p>
          </div>
          <div class="card-footer">
            <a href="authors" class="btn btn-primary">Click Here</a>
          </div>
        </div>
      </div>

      <div class="col-lg-3 col-md-6 mb-4">
        <div class="card h-100">
          <div class="card-body">
            <h4 class="card-title">Customers</h4>
            <p class="card-text">Add, remove or delete a customer from BookSTEM's database.</p>
          </div>
          <div class="card-footer">
            <a href="customers" class="btn btn-primary">Click Here</a>
          </div>
        </div>
      </div>

      <div class="col-lg-3 col-md-6 mb-4">
        <div class="card h-100">
          <div class="card-body">
            <h4 class="card-title">Orders</h4>
            <p class="card-text">Find, update and delete order information.</p>
          </div>
          <div class="card-footer">
            <a href="orders" class="btn btn-primary">Click Here</a>
          </div>
        </div>
      </div>

      <div class="col-lg-3 col-md-6 mb-4">
        <div class="card h-100">
          <div class="card-body">
            <h4 class="card-title">Publishers</h4>
            <p class="card-text">Add, remove, update and view publisher information.</p>
          </div>
          <div class="card-footer">
            <a href="publishers" class="btn btn-primary">Click Here</a>
          </div>
        </div>
      </div>

      <div class="col-lg-3 col-md-6 mb-4">
        <div class="card h-100">
          <div class="card-body">
            <h4 class="card-title">Textbooks</h4>
            <p class="card-text">View, create, update, and delete textbooks in the store's inventory!</p>
          </div>
          <div class="card-footer">
            <a href="textbooks" class="btn btn-primary">Click Here</a>
        </div>
        </div>
      </div>

      <div class="col-lg-3 col-md-6 mb-4">
        <div class="card h-100">
          <div class="card-body">
            <h4 class="card-title">Textbook_Orders</h4>
            <p class="card-text">Use this page to update customer information.</p>
          </div>
          <div class="card-footer">
            <a href="update.html" class="btn btn-primary">Click Here</a>
          </div>
        </div>
      </div>

    </div>
    <!-- /.row -->

  </div>
  <!-- /.container -->

  <!-- Footer -->
  <footer class="py-5 bg-dark">
    <div class="container">
      <p class="m-0 text-center text-white">The BookSTEM 2021</p>
    </div>
    <!-- /.container -->
  </footer>

  <!-- Bootstrap core JavaScript -->
  <script src="vendor/jquery/jquery.min.js"></script>
  <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

</body>

</html>
